body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff6b6b;
    padding: 30px;
    color: rgb(170, 16, 16);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    font-size: larger;
}

.hero {
    background-image: url('hero-banner.jpg');
    background-size: cover;
    background-position: left;
    height: 1cm;
    display: flex;
    justify-content: center;
    align-items:left;
    text-align: left;
    color: rgb(183, 7, 7);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: rgb(17, 63, 142);
    text-decoration: none;
    font-weight: bold;
align-items: center;
}




.categories {
    padding: 50px;
    text-align: center;
}

.category-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.category-card1 {
    border: 5px solid #e64b4b;
    padding: 30px;
    max-width: 750px;
    padding: 20px;
   display: flex;
}



.category-card2{
    border: 5px solid #e64b4b;
    padding: 30px;
    max-width: 750px;
    padding: 20px;
display: flex;
   
}

.category-card3{
    border: 5px solid #e64b4b;
    padding: 30px;
    max-width: 750px;
    padding: 20px;

   
}
.cake-details {
    
    padding: 50px;
    
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
    align-content: flex-end;
   
}

.cart-section {
    padding: 600px;
}

footer {
    background-color: #f08a5d;
    padding: 20px;
    text-align: center;
    color: white;
}
